.room-container {
  background-color: #eee; //#33a7d8  //#0092ce //#87cae7
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;

  .App-logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  ul {
    width: 100%;
    max-width: 700px;

    li {
      width: 100%;
      line-height: 80px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      background-color: #fff;
      color: #999;
      margin-top: 5px;
      padding: 0 10px;
      border-radius: 5px;

      .title {
        flex: 1;
      }

      .buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 110px;

        button {
          width: 50px;
        }

        button:nth-child(1) {
          background-color: #d64b41;
        }

        button:nth-child(2) {
          background-color: #5386a1;
        }
      }
    }
  }

  .app-logo {
    margin-bottom: 20px;
  }

  button {
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    background-color: #7e9d31;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
  }

  button:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
  }
}
