.main-container {
  background-color: #eee; //#33a7d8  //#0092ce //#87cae7
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;

  .App-logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  button {
    margin-top: 20px;
    border: 1px solid #7e9d31;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    background-color: #7e9d31;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
  }
}
